* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #457b9d;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 900px;
    display: flex;
    text-align: center;
}

.paragraph {
    font-size: 2rem;
    color: white;
    width: 900px;
    width: 100%;
}

#next-btn {
    padding: .8rem 1.6rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: sans-serif;
    border-radius: .3rem;
    outline: none;
    border: none;
    background-color: #044166;
    color: white;
    margin: 1.5rem 0;
}

/* img {
    width: 100px;
} */